#review .swiper-pagination {
   position: static;
   margin-top: 20px;
}
#review .swiper-pagination-bullet {
   width: 15px;
   border-radius: 10px;
   height: 6px;
}
#review .swiper-pagination-bullet-active{
   width: 25px;
}