@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
   font-family: 'Catamaran', sans-serif;
   overflow-x: hidden;
   max-width: 100%;
}

#header_nav li a::after{
   content: "";
   display: block;
   width: 0%;
   height: 2px;
   background: #4E4AE5;
   margin-top: -3px;
   transition: all 0.5s;
}

#header_nav li a:hover::after{
   width: 100%;
}

#header_nav li .active {
   color: #4F46E5!important;
}

/* #pricing_nav li .active {
   background-color: #E2E8F0!important;
} */

@media only screen and (min-width: 500px) {
   #home_services .swiper-slide {
      width: 100%!important;
      margin-right: 0!important;
   }
}