@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
   font-family: 'Catamaran', sans-serif;
}

#header_nav li a .active {
   color: #4F46E5!important;
}

#header_nav li a::after{
   content: "";
   display: block;
   width: 0%;
   height: 2px;
   background: #4E4AE5;
   margin-top: -3px;
   transition: all 0.5s;
}

#header_nav li a:hover::after{
   width: 100%;
}